@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Pacifico&display=swap');
:root {
    --navbar: #7952B3;
    --btn_shadow: #ffff14;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    z-index: 1;
    border: 2px solid black;
    text-align: end;
    height: 5rem;
    width: 100%;
    background: var(--navbar);
}

.nav li {
    list-style-type: none;
    display: inline;
    padding: 1rem;
    position: relative;
    bottom: -2rem;
    font-size: 1.25rem;
}

.nav li:hover {
    color: gray;
}

body {
    /* background-color: silver; */
}

img {
    background-color: silver;
    position: relative;
    top: 1.5rem;
    left: 35rem;
    display: block;
}

.btn-primary {
    width: 170px;
    height: 50px;
    margin-top: 15px;
    border: none;
    color: white;
    background-color: var(--navbar);
    border-radius: 4px;
    box-shadow: inset 0 0 0 var(--btn_shadow);
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    position: relative;
    left: 30rem;
}

.btn-primary-2 {
    width: 170px;
    height: 50px;
    margin-top: 15px;
    border: none;
    color: white;
    background-color: var(--navbar);
    border-radius: 4px;
    box-shadow: inset 0 0 0 var(--btn_shadow);
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    position: relative;
    left: 32rem;
}

.btn-primary:hover {
    box-shadow: inset 170px 0 0 var(--btn_shadow);
    cursor: pointer;
    color: black;
}

.btn-primary-2:hover {
    box-shadow: inset 170px 0 0 var(--btn_shadow);
    cursor: pointer;
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}

#logo {
    text-align: left;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Balsamiq Sans', cursive;
    /* border: 2px solid black; */
}

.intro {
    text-align: center;
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {
    /*Big smartphones [426px -> 600px]*/
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        width: 28rem;
    }
    img {
        width: 10rem;
        left: 6rem;
    }
    .btn-primary {
        left: 1rem;
        margin-top: 3rem;
        width: 7rem;
    }
    .btn-primary-2 {
        left: 2rem;
        margin-top: 6rem;
        width: 7rem;
    }
    p {
        margin-left: 13rem;
        font-size: 1.5rem;
    }
    .intro {
        text-align: left;
        position: relative;
        left: -10rem;
    }
}